<%= simple_form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :description_after_accept %>
  <%= f.input :amount %>
  <%= f.input :town %>
  <%= f.input :street %>
  <%= f.input :address_information%>

  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.input :member_in_charge_id, as: :select, collection: @request.organization.orga_members, label_method: :email%>
  <%= f.input :timeout %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
