<%= simple_form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :description_after_accept %>
  <%= f.input :amount %>
  <%= f.input :location %>
  <%= f.input :range %>
  <%= f.text_field :lat, required: true, hidden: true %>
  <%= f.text_field :long, required: true, hidden: true %>
  <%= f.input :address_information%>

  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.input :member_in_charge_id, as: :select, collection: @request.organization.orga_members, label_method: :email%>
  <%= f.input :timeout %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
 jQuery(function() {
   var completer;

   completer = new GmapsCompleter({
     inputField: '#request_location',
     positionOutputter: function(latlng) {
       $('#request_lat').val(latlng.lat());
       $('#request_long').val(latlng.lng());
     }
   });

   completer.autoCompleteInit({
     country: "Germany",
     region: "de"
   });
 });
</script>
