<%= simple_form_for [@project,@request], html: { class: 'sky-form' } do |f| %>
<div class="row">
  <fieldset>
    <%= f.input :name, wrapper: :bootstrap %>
    <%= f.input :description %>
    <%= f.input :description_after_accept %>
    <%= f.input :amount %>

    <%= f.input :start,
                :as => :datetimepicker,
                :input_html => { :value => localize(f.object.start) } %>
    <%= f.input :end,
                :as => :datetimepicker,
                :input_html => { :value => localize(f.object.end) } %>
    <%= f.input :manager_in_charge_id, as: :select, collection: @project.managers, label_method: :email, include_blank: nil %>
  </fieldset>

  <footer>
    <%= f.submit %>
  </footer>
</div>
<% end %>
