<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>State</th>
      <th>Number of helpers</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.location %></td>
        <td><%= request.state %></td>
        <td><%= request.confirmed_helpers.count %> / <%= request.amount %></td>
        <td><%= request.start %></td>
        <td><%= request.end %></td>
        <td><%= link_to fa_icon('eye', text: 'Show'), request,
          class: "btn btn-info btn-xs" %></td>
        <td><%= link_to fa_icon('pencil', text: 'Edit'), edit_request_path(request),
          class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to I18n.t("request.create"), new_request_path, class: "btn btn-u pull-right" %>
