<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.location %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @request.amount %>
</p>

<p>
  <strong>Start:</strong>
  <%= @request.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @request.end %>
</p>

<h2>Helpers</h2>
<ul>
  <% @request.confirmed_helpers.each do |helper| %>
    <li><%= helper.contact_address %></li>
  <% end %>
</ul>
