<div class="row">
<%= simple_form_for @helper, url: project_helpers_path(@project, invite_key: @project.invite_key),
  html: { class: 'sky-form' } do |f| %>
  <div class="col-md-6">
    <h2><%= I18n.t "project.subscribe", project: @project.name %></h2>
    <%= f.input :email, wrapper: :no_label do %>
      <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
      <%= f.input_field :email, class: 'form-control' %>
    <% end %>
    <button type="submit" class="btn-u pull-right">
      <i class="fa fa-heart"></i> <%= I18n.t "project.subscribe_to", project: @project.name%>
    </button>
  </div>
  <div class="col-md-6">
    <h2><%= I18n.t "project.about", project: @project.name %></h2>
    <p><%= @project.description %></p>
  </div>
<% end %>
</div>
