
<!--=== Sign-In Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <%= simple_form_for @helper,
        defaults: { class: 'form-horizontal' } do |f| %>
      <div class="col-md-6">
        <span><%= I18n.t "home.join_h" %></span>
        <p><%= I18n.t "home.join_p" %></p>
      </div>
      <div class="col-md-3">
        <div class="input-group"">
          <div class="input-group-addon"><i class="icon-prepend fa fa-envelope input-button-home"></i></div>
          <%= f.text_field :email, required: true, class: 'form-control', placeholder: I18n.t("email") %>
        </div>
        <div class="input-group">
          <div class="input-group-addon"><i class="icon-prepend fa fa-location-arrow input-button-home"></i></div>
          <%= f.text_field :location, required: true, class: 'form-control', placeholder: I18n.t("location") %>
          <%= f.text_field :lat, required: true, hidden: true %>
          <%= f.text_field :long, required: true, hidden: true %>
        </div>
        <button type="submit" class="btn-u">
          <i class="fa fa-heart"></i> <%= I18n.t "home.join_button"%>
        </button>
      </div>
      <% end %>
    </div>
  </div>
</div><!--/row-->
<!-- End Sign-In Block -->

<!--=== Content Part ===-->
<div class="container content-sm">
  <!-- Service Blocks -->
  <div class="row margin-bottom-30">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-check-circle-o service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step1_h" %></h4>
          <p><%= I18n.t "home.step1_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-envelope service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step2_h" %></h4>
          <p><%= I18n.t "home.step2_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-heart service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step3_h" %></h4>
          <p><%= I18n.t "home.step3_p" %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!--=== Sign-Out Block ===-->
  <div class="purchase">
    <div class="container">
      <div class="row">
        <%= simple_form_for @helper,
          class: 'form-horizontal',
          url: helpers_unsubscribe_path,
          method: :get do |f| %>
          <div class="col-md-6">
            <span><%= I18n.t "home.leave_h" %></span>
            <p><%= I18n.t "home.leave_p" %></p>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-addon"><i class="icon-prepend fa fa-envelope input-button-home"></i></div>
              <%= f.text_field :email, required: true, class: 'form-control', placeholder: I18n.t("email") %>
            </div>
            <button type="submit" class="btn-u">
              <i class="fa fa-heart"></i> <%= I18n.t("home.leave")%>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div><!--/row-->
  <!-- End Sign-Out Block -->

</div><!--/container-->
<!-- End Content Part -->
<script type="text/javascript">
 jQuery(function() {
   var completer;

   completer = new GmapsCompleter({
     inputField: '#helper_location',
     country: "Germany",
     region: "de",
     positionOutputter: function(latlng) {
       $('#helper_lat').val(latlng.lat());
       $('#helper_long').val(latlng.lng());
     }
   });

   completer.autoCompleteInit({
     country: "Germany",
     region: "DE"
   });
 });
</script>
