
<!--=== Sign-In Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <span><%= I18n.t "home.join_h" %></span>
        <p><%= I18n.t "home.join_p" %></p>
      </div>
      <div class="col-md-4">
        <span><%= t 'home.get_started' %></span>
        <p><%= t 'home.get_started_p' %></p>

        <%= link_to fa_icon("heart", text: I18n.t("home.sign_up")), new_project_path(), class: "btn-u pull-right" %>
      </div>
    </div>
  </div>
</div><!--/row-->
<!-- End Sign-In Block -->

<!--=== Content Part ===-->
<div class="container content-sm">
  <!-- Service Blocks -->
  <div class="row margin-bottom-30">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-users service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step1_h" %></h4>
          <p><%= I18n.t "home.step1_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-envelope service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step2_h" %></h4>
          <p><%= I18n.t "home.step2_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-heart service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home.step3_h" %></h4>
          <p><%= I18n.t "home.step3_p" %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->
</div>


<!-- End Content Part -->
