<!--=== Notification Block ===-->
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end %>
<!-- End Notofication Block -->

<!--=== Sign-In Block ===-->
<%= simple_form_for @helper , defaults: { input_html: { class: 'sky-form' } } do |f| %>
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span><%= I18n.t "join_h" %></span>
        <p><%= I18n.t "join_p" %></p>
      </div>
      <div class="col-md-3">
        <label class="input">
          <i class="icon-prepend fa fa-envelope"></i>
          <%= f.text_field :email, required: true %>
        </label>
        <label class="input">
          <i class="icon-prepend fa fa-location-arrow"></i>
          <%= f.text_field :location, required: true %>
        </label>
        <%= f.button :submit, (I18n.t "join"), class: "btn-u btn-u-lg" %>
      </div>
    </div>
  </div>
</div><!--/row-->
<% end %>
<!-- End Sign-In Block -->

<!--=== Content Part ===-->
<div class="container content-sm">
  <!-- Service Blocks -->
  <div class="row margin-bottom-30">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-check-circle-o service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home_step1_h" %></h4>
          <p><%= I18n.t "home_step1_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-envelope service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home_step2_h" %></h4>
          <p><%= I18n.t "home_step2_p" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-heart service-icon"></i>
        <div class="desc">
          <h4><%= I18n.t "home_step3_h" %></h4>
          <p><%= I18n.t "home_step3_p" %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!--=== Sign-Out Block ===-->
  <div class="purchase">
    <div class="container">
      <div class="row">
        <form action="#" id="sky-form" class="sky-form">
          <div class="col-md-6">
            <span><%= I18n.t "leave_h" %></span>
            <p><%= I18n.t "leave_p" %></p>

          </div>
          <div class="col-md-3">
            <label class="input">
              <i class="icon-prepend fa fa-envelope"></i>
              <input type="email" name="email" placeholder="<%= I18n.t "email" %>">
            </label>
            <a href="#" class="btn-u btn-u-lg"><i class="fa fa-heart"></i> <%= I18n.t "leave" %></a>
          </div>
        </form>
      </div>
    </div>
  </div><!--/row-->
  <!-- End Sign-Out Block -->

</div><!--/container-->
<!-- End Content Part -->
