<%= simple_form_for(@organization, html: {class: "reg-page"}) do |f| %>

<% @orga_member.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end unless @orga_member.nil? or @orga_member.errors.empty?%>
<% @organization.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end%>
<%= f.error_notification %>

<div class="row">
  <div class="reg-header">
    <h2><%= I18n.t 'orga.register_title' %></h2>
  </div>
  <%= f.input :name, wrapper: :no_label do %>
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <%= f.input_field :name, class: 'form-control', placeholder: I18n.t("orga.name") %>
  <% end %>
  <%= f.simple_fields_for @orga_member do |b| %>

    <%= b.input :email, wrapper: :no_label do %>
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= b.input_field :email, class: 'form-control' %>
    <% end %>
    <%= b.input :password, wrapper: :no_label do %>
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= b.input_field :password, class: 'form-control' %>
    <% end %>
    <%= b.input :password_confirmation, wrapper: :no_label do %>
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= b.input_field :password_confirmation, class: 'form-control' %>
    <% end %>
  <% end unless @orga_member.nil? %>
  <div class="row">
    <div class="col-md-12">
      <%= f.button :submit, class: 'btn-u pull-right' %>
    </div>
  </div>
</div><!--/row-->
<% end %>
